{% extends "base.twig" %}

{% block content %}
{% filter shortcodes|raw %}
  {% if page.meta('sections')|length > 0 %}
    {% for section in page.meta('sections') %}

      {% if section.acf_fc_layout == 'form_section' %}
        <style>
          html {
            scroll-behavior: smooth;
          }
          @media screen and (prefers-reduced-motion: reduce) {
            html {
              scroll-behavior: auto;
            }
          }
          .main::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 70%;
            z-index: -1;
            background-size: cover;
            background-image: linear-gradient(116.57deg, #0ea5e9d6 16.67%, #b4f0ff 100%), url({{ theme.link }}/static/depositphotos_184095720-stock-photo-many-bitcoin-wooden-desk-clsoe.jpeg);
            background-repeat: no-repeat;
          }
          .form-footer p {
            font-size: 10px!important;
            text-align: center;
            color: #000;
          }

          .form-footer a {
            color: #f59015!important;
          }
          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }
        </style>
        <section class="relative py-8 main lg:bg-full md:py-12 2xl:py-16" id="signup-form">
          <div class="container" style="max-width: 1366px;">
            <div class="px-5 row lg:px-0">
              <div class="w-full lg:w-7/12">
                <div class="lg:pr-24 2xl:pr-48">
                  <h1 class="mb-5 font-semibold leading-tight heading">
                    <span class="block lg:hidden text-center text-2.5xl">{{ section.heading_mobile }}</span>
                    <span class="hidden lg:inline text-3xl xl:text-4xl xl:leading-tight 2xl:text-5.5xl 2xl:leading-tight">
                      <span class="font-extralight">{{ section.heading1 }}</span><br>
                      {{ section.heading2 }}
                    </span>
                  </h1>
                  <div class="text-xl text-center lg:text-left lg:text-1.5xl font-medium mb-9">{{ section.subheading }}</div>
                  <p class="hidden text-center lg:block lg:text-left 2xl:text-lg">{{ section.description }}</p>
                  <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false">
                    <div style="font-weight: 300; font-size: 14px; font-style: italic; color: #161616;" @click="showModal = true">{{ section.disclaimer_text }}</div>
                    <!-- Modal -->
      <div
        class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
        x-show="showModal"
        style="color: #161616;"
      >
        <!-- Modal inner -->
        <div
            class="max-w-3xl px-6 py-4 mx-auto text-left bg-white rounded shadow-lg"
            @click.away="showModal = false"
            x-transition:enter="motion-safe:ease-out duration-300"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100"
        >
            <!-- Title / Close-->
            <div class="flex items-center justify-between">
                <h5 class="w-full mb-2 mr-3 text-lg font-bold text-center text-black max-w-none">{{ section.disclaimer_popup_title }}</h5>

                <button type="button" class="z-50 cursor-pointer" @click="showModal = false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

                  <!-- content -->
                  <div class="text-sm">{{ section.disclaimer_popup_content }}</div>
              </div>
          </div>
                  </div>
                </div>
                <div class="relative hidden w-full mt-8 lg:block 2xl:mt-20 xl:w-10/12 2xl:w-full">
                  <p class="absolute text-base italic font-medium text-white" style="margin: 0;width: 100%;max-width: 55%;left: 6.5%;padding: 7px;">
                  {% if section.chart_description %}
                    {{ section.chart_description }}
                  {% else %}
                    Experts predict Bitcoin will reach £75,000* by the end of the year. Invest now with Bitcoin Revolution and take advantage
                  {% endif %}
                  </p>
                  <img src="{{ theme.link }}/static/chart.svg" alt="chart">
                </div>
              </div>
              <div class="-mx-5 sm:mx-auto lg:mx-0 lg:w-5/12">
                <div class="lg:px-4">
                  <div class="hidden lg:block px-4 py-3 2xl:px-8 2xl:py-6 rounded-t-lg+ text-xl 2xl:text-2xl font-semibold" style="background: linear-gradient(116.57deg, #0ea5e9 16.67%, #90e1f5 100%)">
                  {{ section.form.heading }}
                  </div>
                  <div class="registration-form p-5 2xl:p-8 lg:rounded-b-lg+ bg-white" id="registration-form" style="box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.2);">
                    <div class="registration-form-body">
                      <div>
                        <form data-id="form" data-funnel="immediate-edge" x-data="signUpForm()" @submit.prevent="submitData">
                          {#<div class="hidden alert alert-danger" role="alert"></div>#}
                          {{ fn('wp_nonce_field', 'signup_form_submit', 'signup_form_security_check', false, false) }}

                          <div x-show="showAlertMessage" x-transition:enter="transition ease-out duration-300"
                               x-transition:enter-start="opacity-0 transform scale-90"
                               x-transition:enter-end="opacity-100 transform scale-100"
                               x-transition:leave="transition ease-in duration-300"
                               x-transition:leave-start="opacity-100 transform scale-100"
                               x-transition:leave-end="opacity-0 transform scale-90">
                            <div class="p-4 mb-4 text-white bg-red"
                                 role="alert">
                              <p class="mb-0">Please fix the error given below!</p>
                            </div>
                          </div>

                          <div x-show="failure" x-transition:enter="transition ease-out duration-300"
                               x-transition:enter-start="opacity-0 transform scale-90"
                               x-transition:enter-end="opacity-100 transform scale-100"
                               x-transition:leave="transition ease-in duration-300"
                               x-transition:leave-start="opacity-100 transform scale-100"
                               x-transition:leave-end="opacity-0 transform scale-90">
                            <div class="p-4 my-4 text-red-700 bg-red-100 border-l-4 border-red-500"
                                 role="alert">
                              <p class="mb-0" x-text="message"></p>
                            </div>
                          </div>

                          <div x-show="success" x-transition:enter="transition ease-out duration-300"
                               x-transition:enter-start="opacity-0 transform scale-90"
                               x-transition:enter-end="opacity-100 transform scale-100"
                               x-transition:leave="transition ease-in duration-300"
                               x-transition:leave-start="opacity-100 transform scale-100"
                               x-transition:leave-end="opacity-0 transform scale-90">
                            <div class="p-4 my-4 text-green-700 bg-green-100 border-l-4 border-green-500"
                                 role="alert">
                              <p class="mb-0" x-text="message"></p>
                            </div>
                          </div>

                          <div class="relative mb-4">
                            <label for="first_name" class="text-xl font-semibold" style="color: #161616;">First Name</label>
                            <input name="first_name"
                                   class="p-3 mt-2 text-xl rounded-lg 2xl:px-4 2xl:py-5"
                                   placeholder="Enter your first name…"
                                   type="text"
                                   x-model="formData.firstName"
                                   x-on:keydown="delete errors['firstName']"
                                   x-bind:class="{ 'border-red text-red': errors['firstName'] }"
                            >
                            <template x-if="errors['firstName']">
                            <span>
                              <svg class="absolute w-6 h-6 fill-current text-red"
                                   style="top: 12px; right: 12px" xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24">
                                <path
                                  d="M11.953,2C6.465,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.493,2,11.953,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z" />
                              </svg>
                              <span class="block pl-5 mt-2 text-sm text-red"
                                    x-text="errors['firstName']"></span>
                            </span>
                            </template>
                          </div>
                          <div class="relative mb-4">
                            <label for="last_name" class="mb-2 text-xl font-semibold" style="color: #161616;">Last Name</label>
                            <input name="last_name"
                                   class="p-3 mt-2 text-xl rounded-lg 2xl:px-4 2xl:py-5"
                                   placeholder="Enter your surname…"
                                   type="text"
                                   x-model="formData.lastName"
                                   x-on:keydown="delete errors['lastName']"
                                   x-bind:class="{ 'border-red text-red': errors['lastName'] }"
                            >
                            <template x-if="errors['lastName']">
                            <span>
                              <svg class="absolute w-6 h-6 fill-current text-red"
                                   style="top: 12px; right: 12px" xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24">
                                <path
                                  d="M11.953,2C6.465,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.493,2,11.953,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z" />
                              </svg>
                              <span class="block pl-5 mt-2 text-sm text-red"
                                    x-text="errors['lastName']"></span>
                            </span>
                            </template>
                          </div>
                          <div class="relative mb-4">
                            <label for="last_name" class="mb-2 text-xl font-semibold" style="color: #161616;">Email</label>
                            <input name="email"
                                   class="p-3 mt-2 text-xl rounded-lg 2xl:px-4 2xl:py-5"
                                   placeholder="Enter your email address…"
                                   type="text"
                                   x-model="formData.email"
                                   x-on:keydown="delete errors['email']"
                                   x-bind:class="{ 'border-red text-red': errors['email'] }"
                            >
                            <template x-if="errors['email']">
                            <span>
                              <svg class="absolute w-6 h-6 fill-current text-red"
                                   style="top: 12px; right: 12px" xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24">
                                <path
                                  d="M11.953,2C6.465,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.493,2,11.953,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z" />
                              </svg>
                              <span class="block pl-5 mt-2 text-sm text-red"
                                    x-text="errors['email']"></span>
                            </span>
                            </template>
                          </div>
                          <div class="relative mb-4">
                            <label for="last_name" class="mb-2 text-xl font-semibold" style="color: #161616;">Phone number</label>
                            <input class="p-3 mt-2 text-xl rounded-lg phone 2xl:px-4 2xl:py-5"
                                   name="phone"
                                   type="number"
                                   x-model="formData.telephone"
                                   x-on:keydown="delete errors['phone']"
                                   x-bind:class="{ 'border-red text-red': errors['phone'] }"
                            >
                            <template x-if="errors['phone']">
                            <span>
                              <svg class="absolute w-6 h-6 fill-current text-red"
                                   style="top: 12px; right: 12px" xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24">
                                <path
                                  d="M11.953,2C6.465,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.493,2,11.953,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z" />
                              </svg>
                              <span class="block pl-5 mt-2 text-sm text-red"
                                    x-text="errors['phone']"></span>
                            </span>
                            </template>
                          </div>

                          <div class="form-group form-actions">
                            <button type="submit"
                                    class="submit-button rounded-md font-semibold text-1.5xl bg-orange hover:bg-orangeHover py-3 2xl:py-5"
                                    style="color: #dff9fb; background: #3B3B98; filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));"
                                    {#onclick="return gtag_report_conversion()"#}
                                    :disabled="loading"
                            >
                              <span x-show="loading" class="flex items-center">
                                Please wait...
                                <img src="{{ theme.link }}/static/spinner.svg" alt="" width="50" height="50" style="margin-left: 10px;">
                              </span>
                              <span x-show="!loading">{{ section.form.button_label }}</span>
                            </button>
                            {#<p class="p-2 mt-4 text-primary" x-text="message"></p>#}
                          </div>
                          <div class="form-actions">
                            <div class="form-footer">{{ section.form.legal_text }}</div>
                            <div class="pt-2 text-sm font-bold text-center" style="color: #F94343;">88 New User Sign-ups Today</div>
                          </div>
                        </form>
                        <script>
                          function signUpForm() {
                            return {
                              formData: {
                                {% if use_production_api %}
                                  action: 'ixx_register_form_submit',
                                {% else %}
                                  action: 'ixx_register_form_submit_test',
                                {% endif %}
                                firstName: '',
                                lastName: '',
                                email: '',
                                telephone: '',
                                signup_form_security_check: '',
                                offerName: '{{ function("do_shortcode", section.form.offer_name) }}',
                                pvid: '{{ function("ixx_get_page_view_id") }}',
                                pageid: '{{ page.ID }}'
                              },
                              success: false,
                              failure: false,
                              message: '',
                              showAlertMessage: false,
                              loading: false,
                              buttonLabel: 'Submit',
                              errors: [],

                              submitData() {
                                this.formData.signup_form_security_check = document.getElementById('signup_form_security_check').value;
                                this.message = '';
                                this.buttonLabel = 'Submitting...';
                                this.loading = true;

                                if (this.formData.firstName === '') {
                                  this.errors.firstName = 'The First Name field is required';
                                  this.showAlertMessage = true;
                                  this.loading = false;
                                }

                                if (this.formData.lastName === '') {
                                  this.errors.lastName = 'The Last Name field is required';
                                  this.showAlertMessage = true;
                                  this.loading = false;
                                }

                                const expression = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                const validEmail = expression.test(String(this.formData.email).toLowerCase());

                                if (this.formData.email === '') {
                                  this.errors.email = 'The Email field is required';
                                  this.showAlertMessage = true;
                                  this.loading = false;
                                } else if (!validEmail) {
                                  this.errors.email = 'Please enter a valid email address';
                                  this.showAlertMessage = true;
                                  this.loading = false;
                                }

                                if (this.formData.telephone === '') {
                                  this.errors.phone = 'The Phone Number field is required';
                                  this.showAlertMessage = true;
                                  this.loading = false;
                                } else if (!window.iti.isValidNumber()) {
                                  const error = window.iti.getValidationError();
                                  console.log(error);
                                  if (error === intlTelInputUtils.validationError.TOO_SHORT) {
                                    this.errors.phone = 'The Phone Number value is too short';
                                    this.showAlertMessage = true;
                                    this.loading = false;
                                  } else if (error === intlTelInputUtils.validationError.TOO_LONG ) {
                                    this.errors.phone = 'The Phone Number value is too long';
                                    this.showAlertMessage = true;
                                    this.loading = false;
                                  } else if (error === intlTelInputUtils.validationError.INVALID_LENGTH) {
                                    this.errors.phone = 'The Phone Number value has invalid length';
                                    this.showAlertMessage = true;
                                    this.loading = false;
                                  } else if (error === intlTelInputUtils.validationError.INVALID_COUNTRY_CODE) {
                                    this.errors.phone = 'The Phone Number value has invalid country code';
                                    this.showAlertMessage = true;
                                    this.loading = false;
                                  } else {
                                    this.errors.phone = 'Please enter a valid Phone Number';
                                    this.showAlertMessage = true;
                                    this.loading = false;
                                  }
                                }

                                if (this.loading) {
                                  const form = new FormData();

                                  for (const [field, value] of Object.entries(this.formData)) {
                                    if (field === 'telephonephone') {
                                      form.append(field, window.iti.getNumber());
                                    } else {
                                      form.append(field, value);
                                    }
                                  }

                                  const ip = document.querySelector('.phone').dataset.ip;
                                  const urlParams = new URLSearchParams(window.location.search);
                                  const source = urlParams.get('source');
                                  console.log('source: ' + source);
                                  if (ip) {
                                    form.append('ipAddress', ip);
                                  }
                                  if (source) {
                                    form.append('source', source);
                                  }

                                  const params = new URLSearchParams(form);

                                  fetch('/wp-admin/admin-ajax.php', {
                                    method: 'POST',
                                    credentials: 'same-origin',
                                    headers: new Headers({'Content-Type': 'application/x-www-form-urlencoded'}),
                                    body: params
                                  })
                                    .then(response => response.json())
                                    .then(data => {
                                      console.log(data);
                                      console.log(data.success);
                                      if (data.success) {
                                       {% if use_production_api %} gtag_report_conversion(); {% endif %}
                                        this.failure = false;
                                        this.success = true;
                                        this.message = data.data.message;
                                        console.log(data.data.redirect);
                                        if (data.data.redirect) {
                                          window.location.href = data.data.redirect;
                                        }
                                      } else {
                                        this.failure = true;
                                        let messages = data.finalResponse.messages[0];
                                        messages = JSON.parse(messages);
                                        this.message = messages[0];
                                      }

                                    })
                                    .catch(() => {
                                      this.failure = true;
                                      this.message = 'Oops! Something went wrong!';
                                    })
                                    .finally(() => {
                                      this.loading = false;
                                      this.showAlertMessage = false;
                                      this.buttonLabel = 'Submit';
                                    })
                                }
                              }
                            }
                          }
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'section_with_text_and_button' %}
        <section class="py-15"{% if section.background_color %} style="background-color: {{ section.background_color }};"{% endif %}>
          <div class="container">
            <div class="items-center row">
              {% if section.image_position == 'left' %}
                <div class="flex justify-center w-full px-4 mb-8 lg:w-1/4 lg:mb-0">
                  {% if section.image %}
                    <img src="{{ Image(section.image).src }}" alt="{{ Image(section.image).alt }}">
                  {% endif %}
                </div>
              {% else %}
                <div class="flex justify-center w-full px-4 mb-8 lg:hidden">
                  {% if section.image %}
                    <img src="{{ Image(section.image).src }}" alt="{{ Image(section.image).alt }}">
                  {% endif %}
                </div>
              {% endif %}
              <div class="w-full px-4 lg:w-3/4">
                <h2 class="text-3xl md:text-4.5xl font-semibold mb-6">{{ section.heading }}</h2>
                {{ section.text }}
                {% if section.button_text %}
                  <div class="flex justify-center mt-6 lg:justify-start">
                    <a href="{{ section.button_link }}" class="btn-link scroll-top" style="max-width: 350px;">{{ section.button_text }}</a>
                  </div>
                {% endif %}
              </div>
              {% if section.image_position == 'right' %}
                <div class="justify-center hidden w-full px-4 lg:flex lg:w-1/4">
                  {% if section.image %}
                    <img src="{{ Image(section.image).src }}" alt="{{ Image(section.image).alt }}">
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'benefits_section' %}
        <section class="py-15">
          <div class="container text-center">
            <h2 class="text-3xl md:text-4.5xl font-semibold mb-6">{{ section.heading }}</h2>
            <div class="mb-12 section_decription">{{ section.description }}</div>
          </div>
          <div class="container">
            <div class="row">
              {% for benefit in section.benefits %}
                <div class="px-4 lg:w-1/2">
                  <div class="mb-10">
                    <div class="mb-3 text-2xl font-bold text-secondary">{{ benefit.heading }}</div>
                    <div class="benefit-text">
                      {{ benefit.description }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="mt-4 text-center mt-md-5">
            <a href="{{ section.button_link }}" class="btn-link scroll-top" style="max-width: 400px;">{{ section.button_text }}</a>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'what_could_i_have_made_section' %}
        <section class="py-6 lg:py-15">
          <div class="container text-center" x-data="investmentCalculator()" x-init="updateWidget()">
            <h2 class="text-3xl md:text-5.5xl mb-8 md:mb-10 lg:mb-14 font-extralight">
              {% if section.heading_light and section.heading_bold %}
                {{ section.heading_light }} <span class="font-semibold">{{ section.heading_bold }}<span>
              {% else %}
                What could i have made <span class="font-semibold">on crypto?<span>
              {% endif %}
            </h2>
            <div class="flex flex-wrap lg:flex-nowrap" style="max-width: 988px; margin: 0 auto;">
              <div class="w-full lg:w-7/12 mb-5 lg:mb-0 lg:mr-2.5 p-5 lg:px-8 lg:py-5" style="box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 5px;">
                <p class="ml-8 text-xl font-semibold text-left">
                {% if section.form_heading %}
                  {{ section.form_heading }}
                {% else %}
                  If i had invested
                {% endif %}
                </p>
                {% set currSymbol = '$' %}
                {% set currSymbolPlacement = 'before' %}
                {% if section.currency_symbol %}
                  {% set currSymbol = section.currency_symbol %}
                {% endif %}
                {% if section.currency_symbol_placement %}
                  {% set currSymbolPlacement = section.currency_symbol_placement %}
                {% endif %}
                <input type="text" value="5000" class="p-3 mt-2 text-xl transition rounded-lg input-investment-sum 2xl:px-4 2xl:py-5" x-ref="sum" @keyup="updateWidget()">
                <select class="p-3 mt-5 text-xl transition rounded-lg 2xl:px-4 2xl:py-5" x-ref="coin" x-model="selectedCoin" @change="updateWidget()">
                  {% for coin in cryptocurrencies %}
                    <option value="{{ coin.name }}">{{ coin.name }}</option>
                  {% endfor %}
                </select>
                <script>
                  function investmentCalculator() {
                    return {
                      selectedCoin: '{{ cryptocurrencies[0].name }}',
                      currencySymbol: '{{ currSymbol }}',
                      currencySymbolPlacement: '{{ currSymbolPlacement }}',
                      options: [
                        {% for coin in cryptocurrencies %}
                          { name: '{{ coin.name }}', priceOld: '{{ coin.old_price }}', priceNew: '{{ coin.new_price }}', profit: {{ coin.profit }} }{% if not loop.last %},{% endif %}
                        {% endfor %}
                      ],
                      updateWidget() {
                        coinData = this.options.find(coin => {
                          return coin.name == this.selectedCoin;
                        });
                        this.$refs.priceOld.innerText = this.currencySymbolPlacement === 'before' ? this.currencySymbol + coinData.priceOld : coinData.priceOld + this.currencySymbol;
                        this.$refs.priceNew.innerText = this.currencySymbolPlacement === 'before' ? this.currencySymbol + coinData.priceNew : coinData.priceNew + this.currencySymbol;
                        this.$refs.profit.innerText = '+' + coinData.profit + '%';
                        capital = Number(this.$refs.sum.value) * (coinData.profit / 100 + 1);
                        this.$refs.capital.innerText = this.currencySymbolPlacement === 'before' ? this.currencySymbol + capital.toLocaleString() : capital.toLocaleString() + this.currencySymbol;
                      }
                    }
                  }
                </script>
                {# <div class="flex mt-5">
                  <div class="mr-4">
                    <input type="radio" id="interval-1w" name="interval" value="1w" class="hidden">
                    <label for="interval-1w" class="transition flex text-base+ font-medium items-center justify-center w-18 h-10 hover:bg-blazeOrange hover:text-white border border-inputBorderGrey hover:font-semibold rounded-lg">1w</label>
                  </div>
                  <div class="mr-4">
                    <input type="radio" id="interval-1m" name="interval" value="1m" class="hidden">
                    <label for="interval-1m" class="transition flex text-base+ font-medium items-center justify-center w-18 h-10 hover:bg-blazeOrange hover:text-white border border-inputBorderGrey hover:font-semibold rounded-lg">1m</label>
                  </div>
                  <div class="mr-4">
                    <input type="radio" id="interval-1y" name="interval" value="1y" class="hidden">
                    <label for="interval-1y" class="transition flex text-base+ font-medium items-center justify-center w-18 h-10 hover:bg-blazeOrange hover:text-white border border-inputBorderGrey hover:font-semibold rounded-lg">1y</label>
                  </div>
                  <div class="mr-4">
                    <input type="radio" id="interval-all" name="interval" value="all" class="hidden">
                    <label for="interval-all" class="flex items-center justify-center h-10 font-medium transition border rounded-lg text-base- w-18 hover:bg-blazeOrange hover:text-white border-inputBorderGrey hover:font-semibold">All time</label>
                  </div>
                </div> #}
              </div>
              <div class="flex flex-wrap justify-center w-full lg:w-5/12">
                <div class="flex justify-center w-1/2 align-center">
                  <div class="w-full mr-2.5 lg:mx-2.5 mb-5 px-2 py-5" style="box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 5px;">
                    <div class="inline-block mb-2 font-medium text-base-">
                      {% if section.info_box.old_price_text %}
                        {{ section.info_box.old_price_text }}
                      {% else %}
                        January 2021 Price
                      {% endif %}
                    </div>
                    <div class="text-xl font-semibold" x-ref="priceOld">
                      {% if currSymbolPlacement == 'before' %}{{ currSymbol }}{% endif %}
                      {{ cryptocurrencies[0].old_price }}
                      {% if currSymbolPlacement == 'after' %}{{ currSymbol }}{% endif %}
                      </div>
                  </div>
                </div>
                <div class="flex justify-center w-1/2 align-center">
                  <div class="w-full ml-2.5 lg:mx-2.5 mb-5 px-2 py-5" style="box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 5px;">
                    <div class="inline-block mb-2 font-medium text-base-">
                      {% if section.info_box.new_price_text %}
                        {{ section.info_box.new_price_text }}
                      {% else %}
                        December 2021 Price
                      {% endif %}
                    </div>
                    <div class="text-xl font-semibold" x-ref="priceNew">
                      {% if currSymbolPlacement == 'before' %}{{ currSymbol }}{% endif %}
                      {{ cryptocurrencies[0].new_price }}
                       {% if currSymbolPlacement == 'after' %}{{ currSymbol }}{% endif %}
                    </div>
                  </div>
                </div>
                <div class="flex justify-center w-1/2 align-center">
                  <div class="w-full mr-2.5 lg:mx-2.5 mb-5 px-2 py-5" style="box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 5px;">
                    <div class="inline-block mb-2 font-medium text-base-">
                      {% if section.info_box.profit_text %}
                        {{ section.info_box.profit_text }}
                      {% else %}
                        Profit / Loss
                      {% endif %}
                    </div>
                    <div class="text-xl font-semibold" style="color: #47BB78;" x-ref="profit">+{{ section.cryptocurrencies[0].profit }}%</div>
                  </div>
                </div>
                <div class="flex justify-center w-1/2 align-center">
                  <div class="w-full ml-2.5 lg:mx-2.5 mb-5 px-2 py-5" style="box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 5px;">
                    <div class="inline-block mb-2 font-medium text-base-">
                      {% if section.info_box.current_capital_text %}
                        {{ section.info_box.current_capital_text }}
                      {% else %}
                        Current Capital
                      {% endif %}
                    </div>
                    <div class="text-xl font-semibold" style="color: #47BB78;" x-ref="capital">5,000</div>
                  </div>
                </div>
                <a href="#signup-form"
                   class="lg:mx-2.5 submit-button rounded-md font-semibold text-1.5xl bg-orange hover:bg-orangeHover py-3 2xl:py-5"
                   style="color: #dff9fb; background: #3B3B98 ;filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));text-decoration: none;"
                >
                  <span>
                    {% if section.button_text %}
                      {{ section.button_text }}
                    {% else %}
                      Sign up now & start earning
                    {% endif %}
                  </span>
                </a>
              </div>
            
            </div>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'process_to_sign_up_section' %}
        <section class="pb-12 pt-15" style="background: linear-gradient(116.57deg, #0ea5e9 16.67%, #b4f0ff 100%)" id="how-to-sign-up">
          <div class="container" style="max-width: 1366px;">
              <h2 class="text-3xl md:text-4.5xl text-white text-center font-bold mb-14">
                {% if section.heading %}
                  {{ section.heading }}
                {% else %}
                  Process to sign-up to our services
                {% endif %}
              </h2>
              <div class="row lg:mb-14">
                <div class="w-full border-t-2 lg:w-1/3 p-7 lg:py-0 lg:border-t-0 border-borderPurple border-opacity-30">
                  <div style="width: 75px; height: 75px; background: #c7ecee; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 50%; margin-bottom: 20px;">
                    <span class="text-white text-4.5xl font-semibold" style="color: #130f40">1.</span>
                  </div>
                  <h3 class="text-2xl font-semibold text-center text-white mb-9">
                    {% if section.step_1_heading %}
                      {{ section.step_1_heading }}
                    {% else %}
                      Register with Immediate Edge
                    {% endif %}
                  </h3>
                  <p class="text-center" style="color: #dff9fb;">
                    {% if section.step_1_text %}
                      {{ section.step_1_text }}
                    {% else %}
                      To get started you need to register your account with immediate Edge. Once you've done that you will immediately be able to get access to the trading software for free
                    {% endif %}
                  </p>
                </div>
                <div class="w-full border-t-2 border-b-2 lg:w-1/3 p-7 lg:py-0 lg:border-t-0 lg:border-b-0 lg:border-l-2 lg:border-r-2 border-borderPurple border-opacity-30">
                  <div style="width: 75px; height: 75px; background: #c7ecee; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 50%; margin-bottom: 20px;">
                    <span class="text-white text-4.5xl font-semibold" style="color: #130f40">2.</span>
                  </div>
                  <h3 class="text-2xl font-semibold text-center text-white mb-9">
                    {% if section.step_2_heading %}
                      {{ section.step_2_heading }}
                    {% else %}
                      Fund Your Account
                    {% endif %}
                  </h3>
                  <p class="text-center" style="color: #dff9fb;">
                    {% if section.step_2_text %}
                      {{ section.step_2_text }}
                    {% else %}
                      To profit with Immediate Edge you'll need some trading capital. You can start small and build up as your profit grows, to get started you only need to invest £250 or more
                    {% endif %}
                  </p>
                </div>
                <div class="w-full lg:w-1/3 p-7 lg:py-0">
                  <div style="width: 75px; height: 75px; background: #c7ecee; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 50%; margin-bottom: 20px;">
                    <span class="text-white text-4.5xl font-semibold" style="color: #130f40">3.</span>
                  </div>
                  <h3 class="text-2xl font-semibold text-center text-white mb-9">
                    {% if section.step_3_heading %}
                      {{ section.step_3_heading }}
                    {% else %}
                      Enjoy Your Profits
                    {% endif %}
                  </h3>
                  <p class="text-center" style="color: #dff9fb;">
                    {% if section.step_3_text %}
                      {{ section.step_3_text }}
                    {% else %}
                      Once you're funded you can immediately start enjoying the benefit of our award winning trading algorithm. The process is totally hands free, although you can switch to manual trading at any time if you prefer
                    {% endif %}
                  </p>
                </div>
              </div>
              <a href="#signup-form"
                        class="lg:mx-2.5 submit-button rounded-md font-semibold text-1.5xl bg-orange hover:bg-orangeHover hover:text-white py-3 2xl:py-5"
                        style="color: #dff9fb; background: #3B3B98;filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3)); max-width: 519px; margin: 0 auto; display: flex; text-decoration: none;"
                >
                  <span>
                  {% if section.button_text %}
                    {{ section.button_text }}
                  {% else %}
                    Sign up now & dont miss out again
                  {% endif %}
                  </span>
              </a>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'faq_section' %}
        <section class="py-6 lg:py-15" style="background-image: url('{{ theme.link }}/static/faqs_bg.png'); background-color: #f7f9fd;" id="faq">
          <div class="container lg:mb-12" style="max-width: 950px;">
              <h2 class="text-center text-xl md:text-4.5xl font-semibold mb-6">{{ section.heading }}</h2>
              <div class="text-xl font-bold">{{ section.description|nl2br }}</div>
              <div class="row">
              <script>
                function slideToggle(target, duration = 250) {
                  if (window.getComputedStyle(target).display === "none") {
                    return slideDown(target, duration);
                  } else {
                    return slideUp(target, duration);
                  }
                };
                function slideUp(target, duration = 150) {
                  target.style.transitionProperty = "height, margin, padding";
                  target.style.transitionDuration = duration + "ms";
                  target.style.boxSizing = "border-box";
                  target.style.height = target.offsetHeight + "px";
                  target.offsetHeight;
                  target.style.overflow = "hidden";
                  target.style.height = 0;
                  target.style.paddingTop = 0;
                  target.style.paddingBottom = 0;
                  target.style.marginTop = 0;
                  target.style.marginBottom = 0;
                  window.setTimeout(function() {
                    target.style.display = "none";
                    target.style.removeProperty("height");
                    target.style.removeProperty("padding-top");
                    target.style.removeProperty("padding-bottom");
                    target.style.removeProperty("margin-top");
                    target.style.removeProperty("margin-bottom");
                    target.style.removeProperty("overflow");
                    target.style.removeProperty("transition-duration");
                    target.style.removeProperty("transition-property");
                  }, duration);
                };
                function slideDown(target, duration = 250) {
                  target.style.removeProperty("display");
                  let display = window.getComputedStyle(target).display;

                  if (display === "none") display = "block";

                  target.style.display = display;
                  let height = target.offsetHeight;
                  target.style.overflow = "hidden";
                  target.style.height = 0;
                  target.style.paddingTop = 0;
                  target.style.paddingBottom = 0;
                  target.style.marginTop = 0;
                  target.style.marginBottom = 0;
                  target.offsetHeight;
                  target.style.boxSizing = "border-box";
                  target.style.transitionProperty = "height, margin, padding";
                  target.style.transitionDuration = duration + "ms";
                  target.style.height = height + "px";
                  target.style.removeProperty("padding-top");
                  target.style.removeProperty("padding-bottom");
                  target.style.removeProperty("margin-top");
                  target.style.removeProperty("margin-bottom");
                  window.setTimeout(function() {
                    target.style.removeProperty("height");
                    target.style.removeProperty("overflow");
                    target.style.removeProperty("transition-duration");
                    target.style.removeProperty("transition-property");
                  }, duration);
                }
              </script>
                {% for row in section.questions %}
                  <div class="w-full px-4">
                    <div class="mb-5 transition-all duration-500" x-data="{active: false}" :class="{'active': active}">
                      <div class="justify-between bg-white faq-item-title" @click="active = !active; $refs.icon.classList.toggle('rotate-180');slideToggle($refs.content)">
                        <span>{{ row.question }}</span>
                        <i class="transition transform fal fa-chevron-down" x-ref="icon"></i>
                      </div>
                      <p class="hidden p-5 m-0 mt-5 bg-white rounded" x-ref="content">{{ row.answer|nl2br }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </section>
      {% elseif section.acf_fc_layout == 'top_8_crypto_trades_section' %}
        <section class="py-16" style="background: linear-gradient(116.57deg, #0ea5e9 16.67%, #b4f0ff 100%)">
          <div class="container" style="max-width: 1366px;">
            <h2 class="text-3xl md:text-4.5xl text-white text-center font-bold mb-5 md:mb-10 lg:mb-14">
            {% if section.heading %}
              {{ section.heading }}
            {% else %}
              Top 8 crypto trades from 2021
            {% endif %}
            </h2>
            <div class="justify-center row lg:mb-14">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; top: 0; left: 0; opacity: 0; z-index: -1;">
                <defs>
                  <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="29.0653" y1="38.4005" x2="15.62" y2="26.2642" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
                  </linearGradient>

                  <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="36.5448" y1="20.8258" x2="27.485" y2="35.8813" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
                  </linearGradient>

                  <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="51.2132" y1="53.2132" x2="8.7868" y2="10.7868" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#FF2D55"/>
                    <stop  offset="1" style="stop-color:#FFBC5B"/>
                  </linearGradient>

                  <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="30.63" y1="42.5" x2="30.63" y2="20" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#A524B3"/>
                    <stop  offset="1" style="stop-color:#FF2D55"/>
                  </linearGradient>

                  <linearGradient id="e" gradientUnits="userSpaceOnUse" x1="47.1225" y1="30.5" x2="47.1225" y2="14" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#A524B3"/>
                    <stop  offset="1" style="stop-color:#FF2D55"/>
                  </linearGradient>

                  <linearGradient id="f" gradientUnits="userSpaceOnUse" x1="17.1237" y1="19.088" x2="43.1521" y2="45.1884" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#00AEE9"/>
                    <stop  offset="1" style="stop-color:#69FABD"/>
                  </linearGradient>

                  <linearGradient id="g" gradientUnits="userSpaceOnUse" x1="12.8632" y1="51.3373" x2="50.2432" y2="9.1573" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#00ADEF"/>
                    <stop  offset="1" style="stop-color:#0084FF"/>
                  </linearGradient>

                  <linearGradient id="h" gradientUnits="userSpaceOnUse" x1="30.7661" y1="49.0124" x2="30.0345" y2="12.2028" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#00FFA3"/>
                    <stop  offset="1" style="stop-color:#DC1FFF"/>
                  </linearGradient>
                  <linearGradient id="i" gradientUnits="userSpaceOnUse" x1="30.4462" y1="53.1975" x2="29.7147" y2="16.3879" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#00FFA3"/>
                    <stop  offset="1" style="stop-color:#DC1FFF"/>
                  </linearGradient>
                  <linearGradient id="j" gradientUnits="userSpaceOnUse" x1="30.6052" y1="51.1181" x2="29.8736" y2="14.3085" gradientTransform="matrix(1 0 0 -1 0 62)">
                    <stop  offset="0" style="stop-color:#00FFA3"/>
                    <stop  offset="1" style="stop-color:#DC1FFF"/>
                  </linearGradient>
                </defs>
                <symbol id="AXS" viewBox="0 0 60 60">
                  <path fill-rule="evenodd" clip-rule="evenodd" fill="#0055D5" d="M30,0c16.6,0,30,13.4,30,30S46.6,60,30,60S0,46.6,0,30S13.4,0,30,0 L30,0z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M16.3,19.8c0,0-3.2-2.6-3.5,3.8c-0.2,4.9-0.2,14.5,2.1,19.1 c1,1.7,2.3,1.2,4.7-0.5c2.1-1.5,9.6-8.5,12.8-11.6c3.2-3.1,9.7-11.8,11-5.9c0.5,2.5,1.2,4.6,0.7,10.2c-0.2,1.7-0.9,3-4.2,0.7 C37.4,34,35,32.3,35,32.3s-0.5-0.8-1.6,0.5c-0.9,1.1-1.3,1.3,0.1,2.2c1.4,0.8,8.4,5.6,11,6.4c2.2,0.6,3.5,0.6,3.5-3.7 c0-3.4-0.2-13.3-1.5-17.5c-0.9-2.6-2.3-3.8-5.3-0.9c-3,2.9-12.5,12.1-17.7,16.3c-3.4,2.6-4.9,4.9-6.2,0.6 c-0.9-3.3-2.1-13.4,1.6-11.5c2.3,1.1,3.5,1.1,2.6,1.8c-0.9,0.7-3.5,3.1-3.5,3.1s-0.8,0.7-0.4,2.1c0.4,1,0.4,1.5,2.4-0.4 c2-1.9,3.5-3.4,3.5-3.4s0.3-0.5,1.3,0.4c1,0.9,1.1,1.2,1.1,1.2s0.3,0.7,1.3-0.5c1-1.2,1.7-2-0.3-3.1C25.1,24.7,16.3,19.8,16.3,19.8 L16.3,19.8z"/>
                </symbol>
                <symbol id="ETH" viewBox="0 0 60 60">
                  <circle fill="#EDF0F4" cx="30" cy="30" r="30"/>
                  <path fill="#343434" d="M29.9,12l-0.2,0.8v23.5l0.2,0.2l10.9-6.5L29.9,12z"/>
                  <path fill="#8C8C8C" d="M29.9,12L19,30.1l10.9,6.5V25.2V12z"/>
                  <path fill="#3C3C3B" d="M29.9,38.6l-0.1,0.2v8.4l0.1,0.4l10.9-15.4L29.9,38.6z"/>
                  <path fill="#8C8C8C" d="M29.9,47.6v-8.9L19,32.2L29.9,47.6z"/>
                  <path fill="#141414" d="M29.9,36.6l10.9-6.5l-10.9-5V36.6z"/>
                  <path fill="#393939" d="M19,30.1l10.9,6.5V25.2L19,30.1z"/>
                </symbol>
                <symbol id="FTM" viewBox="0 0 60 60">
                  <circle fill="#13B5EC" cx="30" cy="30" r="30"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M32.5,24l6.8-4V28L32.5,24z M39.2,41l-9,5.3l-9-5.3v-9.2l9,5.3
                    l9-5.3V41z M21.2,20l6.8,4l-6.8,4V20z M31.4,25.9l6.8,4l-6.8,4V25.9z M29.1,33.8l-6.8-4l6.8-4V33.8z M38.1,18.2l-7.9,4.5l-7.9-4.5
                    l7.9-4.7L38.1,18.2z M19,17.4v24.7l11.2,6.4l11.2-6.4V17.4L30.2,11L19,17.4z"/>
                </symbol>
                <symbol id="GALA" viewBox="0 0 60 60">
                  <circle fill="#EDF0F4" cx="30" cy="30" r="30"/>
                  <path d="M33.6,23.5c-1.2,0.8-3.7,2.3-3.7,2.3l-11.2-6.6l11.2-6.2l13.9,7.7l2.7-1.6L29.9,10l-16.7,9.1l16.6,9.6l6.4-3.6L33.6,23.5z"
                    />
                  <path d="M22.7,29.5v-2.9l6.4,3.5V50L12,39.4V20.3l2.7,1.7v16l11.7,7.2V31.7L22.7,29.5z"/>
                  <path d="M30.7,50v-3.2L45,38V25l-11.6,6.7v4.3l-2.7,1.7v-7.6l17.1-10v19.2L30.7,50z"/>
                </symbol>
                <symbol id="KDA" viewBox="0 0 60 60">
                  <path fill="#EC008C" d="M30,60c16.6,0,30-13.4,30-30S46.6,0,30,0S0,13.4,0,30S13.4,60,30,60z"/>
                  <path fill="#EC008C" d="M30,57.9c15.4,0,27.9-12.5,27.9-27.9C57.9,14.6,45.4,2.1,30,2.1C14.6,2.1,2.1,14.6,2.1,30
                    C2.1,45.4,14.6,57.9,30,57.9z"/>
                  <path fill="url(#a)" d="M35.1,11.7L22.5,25v11l23.3-24.3H35.1z"/>
                  <path fill="url(#b)" d="M25.7,32.7l10.4,15.6h10.5L31.7,26.4L25.7,32.7z"
                    />
                  <path fill="#FFFFFF" d="M22.5,11.7h-9.1v36.5h9.1V11.7z"/>
                </symbol>
                <symbol id="LUNA" viewBox="0 0 60 60">
                  <circle fill="#172852" cx="30" cy="30" r="30"/>
                  <path fill="#FFD83D" d="M24.2,13.4c3.5-1.3,7.5-1.3,11-0.2c4.7,1.4,8.6,5,10.6,9.4c0.6,1.3,1.1,2.6,1.2,4c-2.6-1.5-5.5-2.5-8.4-3.4
                    c-4.6-1.7-9.4-2.8-13.8-5.1c-1-0.6-2.3-1.2-2.6-2.5C22.2,14.4,23.3,13.8,24.2,13.4"/>
                  <path fill="#FFD83D" d="M13.6,24c1-2.8,2.7-5.3,4.9-7.2c0.6,4.7,2.6,9.3,5.9,12.8c4,4.1,9.7,6.7,15.5,6.6c2.3,0.1,4.5-0.5,6.8-0.9
                    c-2.2,8-10.9,13.3-19,12c-4.9-0.6-9.4-3.5-12.1-7.6C12.5,35.2,11.7,29.2,13.6,24z"/>
                  <path fill="#FF6F03" d="M38.7,23.1c2.9,0.9,5.7,1.9,8.4,3.4l0.2,0.1c0.2,1.8,0.4,3.7,0.1,5.5c-1.3-0.6-2.4-1.5-3.5-2.4
                    C41.6,27.9,39.5,25.9,38.7,23.1"/>
                </symbol>
                <symbol id="MANA" viewBox="0 0 60 60">
                  
                  <circle fill="url(#c)" cx="30" cy="30" r="30"/>
                  
                  <path fill="url(#d)" d="M21.3,19.5V42H40L21.3,19.5z"/>
                  <path fill="#FFFFFF" d="M2.5,42h18.8V19.5L2.5,42z"/>
                  <path fill="#FC9965" d="M6,48c1.7,2.3,3.7,4.3,6,6h36c2.3-1.7,4.3-3.7,6-6H6z"/>
                  <path fill="#FF2D55" d="M12,54c5,3.8,11.2,6,18,6s13-2.2,18-6H12z"/>
                  
                  <path fill="url(#e)" d="M40.2,31.5V48H54L40.2,31.5z"/>
                  <path fill="#FFBC5B" d="M40.2,42H2.5c0.9,2.1,2.1,4.2,3.5,6h34.3L40.2,42L40.2,42L40.2,42z"/>
                  <path fill="#FFFFFF" d="M26.5,48h13.7V31.5L26.5,48z"/>
                  <circle fill="#FFC95B" cx="40.2" cy="19.5" r="7.5"/>
                  <circle fill="#FFC95B" cx="21.3" cy="11.2" r="3.8"/>
                </symbol>
                <symbol id="MATIC" viewBox="0 0 60 60">
                  <circle fill="#EDF0F4" cx="30" cy="30" r="30"/>
                  <path fill="#8247E5" d="M39,24c-0.6-0.4-1.5-0.4-2.2,0l-5.1,3l-3.5,1.9l-5,3c-0.6,0.4-1.5,0.4-2.2,0l-3.9-2.4
                    c-0.6-0.4-1.1-1.1-1.1-1.9v-4.6c0-0.7,0.4-1.5,1.1-1.9l3.9-2.3c0.6-0.4,1.5-0.4,2.2,0l3.9,2.4c0.6,0.4,1.1,1.1,1.1,1.9v3l3.5-2V21
                    c0-0.7-0.4-1.5-1.1-1.9l-7.3-4.3c-0.6-0.4-1.5-0.4-2.2,0l-7.5,4.4c-0.7,0.4-1.1,1.1-1.1,1.8v8.6c0,0.7,0.4,1.5,1.1,1.9l7.4,4.3
                    c0.6,0.4,1.5,0.4,2.2,0l5-2.9l3.5-2l5-2.9c0.6-0.4,1.5-0.4,2.2,0l3.9,2.3c0.6,0.4,1.1,1.1,1.1,1.9v4.6c0,0.7-0.4,1.5-1.1,1.9
                    L39,41.1c-0.6,0.4-1.5,0.4-2.2,0l-3.9-2.3c-0.6-0.4-1.1-1.1-1.1-1.9v-2.9l-3.5,2v3c0,0.7,0.4,1.5,1.1,1.9l7.4,4.3
                    c0.6,0.4,1.5,0.4,2.2,0l7.4-4.3c0.6-0.4,1.1-1.1,1.1-1.9v-8.7c0-0.7-0.4-1.5-1.1-1.9L39,24z"/>
                </symbol>
                <symbol id="ONE" viewBox="0 0 60 60">
                  <circle fill="#E7EFF3" cx="30" cy="30" r="30"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" fill="url(#f)" d="M38.5,15c-3.6,0-6.5,2.9-6.5,6.5v7.2
                    c-0.7,0-1.3,0.1-2.1,0.1s-1.4,0-2.1,0.1v-7.3c-0.1-3.5-2.9-6.4-6.5-6.4s-6.4,2.8-6.5,6.4v17.1c0.1,3.5,2.9,6.4,6.5,6.4
                    s6.4-2.8,6.5-6.4v-7.2c0.7,0,1.3-0.1,2.1-0.1s1.4,0,2.1-0.1v7.3c0.1,3.5,2.9,6.4,6.5,6.4s6.4-2.8,6.5-6.4V21.5
                    C45,17.9,42.1,15,38.5,15z M21.5,17.6c2.1,0,3.8,1.7,3.8,3.8V29c-1.9,0.3-3.7,0.8-5.5,1.6c-0.8,0.3-1.5,0.8-2.1,1.3V21.5
                    C17.7,19.3,19.4,17.6,21.5,17.6z M21.5,42.4c2.1,0,3.8-1.7,3.8-3.8v-6.9c-1.5,0.2-3,0.7-4.4,1.3c-2,0.9-3.2,2.3-3.2,3.8v1.7
                    C17.7,40.7,19.4,42.4,21.5,42.4z M38.5,42.4c-2.1,0-3.8-1.7-3.8-3.8V31c1.9-0.3,3.7-0.8,5.5-1.6c0.8-0.3,1.5-0.8,2.1-1.3v10.4
                    C42.3,40.7,40.6,42.4,38.5,42.4z M34.7,28.3c1.5-0.2,3-0.7,4.4-1.3c2-0.9,3.2-2.3,3.2-3.8v-1.7c0-2.1-1.7-3.8-3.8-3.8
                    c-2.1,0-3.8,1.7-3.8,3.8V28.3z"/>
                </symbol>
                <symbol id="SAND" viewBox="0 0 60 60">
                  <circle fill="url(#g)" cx="30" cy="30" r="30"/>
                  <path fill="#FFFFFF" d="M19.8,14.1l-3.2,3.2v12.9l3.2,3.2h12.9V40h-6.4v-3.2h-9.8v6.5l3.2,3.2h19.4l3.2-3.2v-13L39.1,27H26.2v-6.5
                    h6.5v3.2h9.8v-6.5L39.2,14H19.8V14.1z"/>
                </symbol>
                <symbol id="SOL" viewBox="0 0 60 60">
                  <circle cx="30" cy="30" r="30"/>
                  <path fill="url(#h)" d="M18.6,37.1c0.2-0.2,0.5-0.3,0.8-0.3h27.5c0.5,0,0.8,0.6,0.4,1l-5.4,5.4c-0.2,0.2-0.5,0.3-0.8,0.3
                    H13.6c-0.5,0-0.8-0.6-0.4-1L18.6,37.1z"/>
                  <path fill="url(#i)" d="M18.6,16.8c0.2-0.2,0.5-0.3,0.8-0.3h27.5
                    c0.5,0,0.8,0.6,0.4,1l-5.4,5.4c-0.2,0.2-0.5,0.3-0.8,0.3H13.6c-0.5,0-0.8-0.6-0.4-1L18.6,16.8z"/>
                  <path fill="url(#j)" d="M41.9,26.9c-0.2-0.2-0.5-0.3-0.8-0.3H13.6
                    c-0.5,0-0.8,0.6-0.4,1l5.4,5.4c0.2,0.2,0.5,0.3,0.8,0.3h27.5c0.5,0,0.8-0.6,0.4-1L41.9,26.9z"/>
                </symbol>
              </svg>
              {% for cryptocurrency in section.cryptocurrencies %}
                <div style="width: 300px; height: 120px;" class="relative flex items-center p-5 mx-2 mt-5 bg-white rounded">
                  <div class="mr-5">
                    <svg width="60" height="60" viewBox="0 0 60 60">
                      <use xlink:href="#{{ cryptocurrency.coin }}" width="60" height="60"></use>
                    </svg>
                  </div>
                  <div>
                    <div class="mb-1" style="color: #25262E; font-size: 18px; font-weight: 800;">{{ cryptocurrency.name }}</div>
                    <div class="" style="color: #47BB78; font-size: 14px;">{{ cryptocurrency.profit }}</div>
                  </div>
                  <div class="absolute flex items-center text-white" style="top: 10px; right: 10px; padding: 4px; font-size: 10px; justify-content: center; border-radius: 2px; background-color: #1C214D;">{{ cryptocurrency.coin }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endfilter %}
{% endblock %}
